This is the program to model the basic production of Squalene following Enlgund et al.

In [1]:
#Packages
import cobra
from cobra.io import read_sbml_model

#Model input
modelclean=read_sbml_model('iJN678.xml')
model = read_sbml_model('iJN678.xml')

#Presence of the gene
model.genes.get_by_id("shc")

In [2]:
#Initial growth rate
model.optimize()

In [3]:
#Presence of the reaction (note initial bounds)
model.reactions.get_by_id("SQLC")

In [4]:
#Gene KO
cobra.manipulation.knock_out_model_genes(model, ["shc"])

#Note change in reaction bounds
model.reactions.get_by_id("SQLC")

In [5]:
model.reactions.get_by_id("SQLC2")

In [6]:
#Growth rate of the KO
model.optimize()

In [7]:
model.medium

{'EX_ca2_e': 1000.0,
 'EX_cobalt2_e': 1000.0,
 'EX_ni2_e': 1000.0,
 'EX_h_e': 1000.0,
 'EX_h2o_e': 1000.0,
 'EX_o2_e': 1000.0,
 'EX_glc__D_e': 0.85,
 'EX_no3_e': 1000.0,
 'EX_k_e': 1000.0,
 'EX_so4_e': 1000.0,
 'EX_pi_e': 1000.0,
 'EX_mobd_e': 1000.0,
 'EX_fe3_e': 1000.0,
 'EX_fe2_e': 1000.0,
 'EX_na1_e': 1000.0,
 'EX_mn2_e': 1000.0,
 'EX_mg2_e': 1000.0,
 'EX_cu2_e': 1000.0,
 'EX_zn2_e': 1000.0}

In [8]:
model.exchanges

[<Reaction EX_ac_e at 0x1c53d7e8100>,
 <Reaction EX_photon_e at 0x1c53d7e8460>,
 <Reaction EX_ca2_e at 0x1c53d7e8640>,
 <Reaction EX_cobalt2_e at 0x1c53dc5e6d0>,
 <Reaction EX_ni2_e at 0x1c53dc4ee20>,
 <Reaction EX_cynt_e at 0x1c53dcec970>,
 <Reaction EX_h_e at 0x1c53dcecaf0>,
 <Reaction EX_pyr_e at 0x1c53dcecdf0>,
 <Reaction EX_fum_e at 0x1c53dcfedf0>,
 <Reaction EX_succ_e at 0x1c53dcfeee0>,
 <Reaction EX_cit_e at 0x1c53dcfef10>,
 <Reaction EX_h2_e at 0x1c53dcfefd0>,
 <Reaction EX_co_e at 0x1c53dcfea30>,
 <Reaction EX_h2o_e at 0x1c53dd16fa0>,
 <Reaction EX_o2_e at 0x1c53dd16be0>,
 <Reaction EX_glc__D_e at 0x1c53dd54040>,
 <Reaction EX_fru_e at 0x1c53dd16cd0>,
 <Reaction EX_glu__L_e at 0x1c53dd65100>,
 <Reaction EX_hco3_e at 0x1c53dd78fa0>,
 <Reaction EX_co2_e at 0x1c53dd78eb0>,
 <Reaction EX_ala__L_e at 0x1c53bed2ca0>,
 <Reaction EX_arg__L_e at 0x1c53bed2640>,
 <Reaction EX_gly_e at 0x1c53bec4eb0>,
 <Reaction EX_gln__L_e at 0x1c53bec4550>,
 <Reaction EX_his__L_e at 0x1c53bef8e50>,
 <Reaction EX_leu__L_e at 0x1c53befe5b0>,
 <Reaction EX_lys__L_e at 0x1c53befe820>,
 <Reaction EX_pro__L_e at 0x1c53bf06af0>,
 <Reaction EX_ser__L_e at 0x1c53bf2be20>,
 <Reaction EX_no3_e at 0x1c53bf21130>,
 <Reaction EX_urea_e at 0x1c53bf17e80>,
 <Reaction EX_nh4_e at 0x1c53bf2ba90>,
 <Reaction EX_akg_e at 0x1c53bf216a0>,
 <Reaction EX_mal__L_e at 0x1c53bf173d0>,
 <Reaction EX_k_e at 0x1c53bf17340>,
 <Reaction EX_so4_e at 0x1c53bf34c70>,
 <Reaction EX_pi_e at 0x1c53bfa04c0>,
 <Reaction EX_mobd_e at 0x1c53bf981c0>,
 <Reaction EX_fe3_e at 0x1c53bf8d2e0>,
 <Reaction EX_fe2_e at 0x1c53bf6bb20>,
 <Reaction EX_na1_e at 0x1c53bfaaf10>,
 <Reaction EX_mn2_e at 0x1c53bfb47f0>,
 <Reaction EX_mg2_e at 0x1c53bfb4dc0>,
 <Reaction EX_ptrc_e at 0x1c53bfb4580>,
 <Reaction EX_spmd_e at 0x1c53bfb41c0>,
 <Reaction EX_cu2_e at 0x1c53bfd7190>,
 <Reaction EX_zn2_e at 0x1c53bfbb190>,
 <Reaction EX_glcglyc_e at 0x1c53c00ba30>,
 <Reaction EX_sucr_e at 0x1c53c04fe50>]

In [9]:
co2=model.reactions.get_by_id("EX_co2_e")
photon=model.reactions.get_by_id("EX_photon_e")
hco3=model.reactions.get_by_id("EX_hco3_e")

co2c=modelclean.reactions.get_by_id("EX_co2_e")
photonc=modelclean.reactions.get_by_id("EX_photon_e")
hco3c=modelclean.reactions.get_by_id("EX_hco3_e")

In [10]:
co2.bounds=(-3.7,1000.0)
hco3.bounds= (-3.7,1000.0)
photon.bounds= (-100,0)

co2c.bounds=(-3.7,1000.0)
hco3c.bounds= (-3.7,1000.0)
photonc.bounds= (-100,0)

In [11]:
#model.medium["EX_glc__D_e"]=0.0
#modelclean.medium["EX_glc__D_e"]=0.0
#model.medium["EX_hco3_e"]=0.0
#modelclean.medium["EX_hco3_e"]=0.0

medium = model.medium
medium["EX_glc__D_e"] = 0.0
medium["EX_hco3_e"] = 0.0
medium["EX_photon_e"]=50
model.medium = medium

mediumc = modelclean.medium
mediumc["EX_glc__D_e"] = 0.0
mediumc["EX_hco3_e"] = 0.0
mediumc["EX_photon_e"]=50
modelclean.medium = mediumc

In [12]:
model.medium

{'EX_photon_e': 50,
 'EX_ca2_e': 1000.0,
 'EX_cobalt2_e': 1000.0,
 'EX_ni2_e': 1000.0,
 'EX_h_e': 1000.0,
 'EX_h2o_e': 1000.0,
 'EX_o2_e': 1000.0,
 'EX_co2_e': 3.7,
 'EX_no3_e': 1000.0,
 'EX_k_e': 1000.0,
 'EX_so4_e': 1000.0,
 'EX_pi_e': 1000.0,
 'EX_mobd_e': 1000.0,
 'EX_fe3_e': 1000.0,
 'EX_fe2_e': 1000.0,
 'EX_na1_e': 1000.0,
 'EX_mn2_e': 1000.0,
 'EX_mg2_e': 1000.0,
 'EX_cu2_e': 1000.0,
 'EX_zn2_e': 1000.0}

In [13]:
model.optimize()

In [14]:
modelclean.optimize()

In [18]:
modelclean.objective= "SQLS"
model.objective="SQLS"

In [19]:
model.optimize()

In [20]:
modelclean.optimize()