In [1]:
from cobra.io import read_sbml_model
from cobra import Reaction, Metabolite
import cobra

In [2]:

#Model input
modelclean =read_sbml_model('iJN678.xml')
modelexporter = read_sbml_model('iJN678.xml')

#Presence of the gene
modelexporter.genes.get_by_id("shc")

In [3]:
#Initial growth rate
modelexporter.optimize()

In [4]:
#Presence of the reaction (note initial bounds)
modelexporter.reactions.get_by_id("SQLC")

In [6]:
#Gene KO
cobra.manipulation.knock_out_model_genes(modelexporter, ["shc"])

#Note change in reaction bounds
modelexporter.reactions.get_by_id("SQLC")

In [7]:
modelexporter.reactions.get_by_id("SQLC2")

In [8]:
#Growth rate of the KO
modelexporter.optimize()

In [9]:
modelexporter.medium

{'EX_ca2_e': 1000.0,
 'EX_cobalt2_e': 1000.0,
 'EX_ni2_e': 1000.0,
 'EX_h_e': 1000.0,
 'EX_h2o_e': 1000.0,
 'EX_o2_e': 1000.0,
 'EX_glc__D_e': 0.85,
 'EX_no3_e': 1000.0,
 'EX_k_e': 1000.0,
 'EX_so4_e': 1000.0,
 'EX_pi_e': 1000.0,
 'EX_mobd_e': 1000.0,
 'EX_fe3_e': 1000.0,
 'EX_fe2_e': 1000.0,
 'EX_na1_e': 1000.0,
 'EX_mn2_e': 1000.0,
 'EX_mg2_e': 1000.0,
 'EX_cu2_e': 1000.0,
 'EX_zn2_e': 1000.0}

In [10]:
modelexporter.exchanges

[<Reaction EX_ac_e at 0x7ff461ce4c70>,
 <Reaction EX_photon_e at 0x7ff461d88700>,
 <Reaction EX_ca2_e at 0x7ff461d88910>,
 <Reaction EX_cobalt2_e at 0x7ff4634002e0>,
 <Reaction EX_ni2_e at 0x7ff4632ef8e0>,
 <Reaction EX_cynt_e at 0x7ff46348cd30>,
 <Reaction EX_h_e at 0x7ff46348cc40>,
 <Reaction EX_pyr_e at 0x7ff46348cdc0>,
 <Reaction EX_fum_e at 0x7ff46349bf10>,
 <Reaction EX_succ_e at 0x7ff46349b520>,
 <Reaction EX_cit_e at 0x7ff46349b280>,
 <Reaction EX_h2_e at 0x7ff46349ba30>,
 <Reaction EX_co_e at 0x7ff46349bd00>,
 <Reaction EX_h2o_e at 0x7ff4634b04f0>,
 <Reaction EX_o2_e at 0x7ff4634b0670>,
 <Reaction EX_glc__D_e at 0x7ff4634c4160>,
 <Reaction EX_fru_e at 0x7ff4635043a0>,
 <Reaction EX_glu__L_e at 0x7ff4635043d0>,
 <Reaction EX_hco3_e at 0x7ff463517d90>,
 <Reaction EX_co2_e at 0x7ff463517b80>,
 <Reaction EX_ala__L_e at 0x7ff463526be0>,
 <Reaction EX_arg__L_e at 0x7ff463526d30>,
 <Reaction EX_gly_e at 0x7ff463526d60>,
 <Reaction EX_gln__L_e at 0x7ff463526cd0>,
 <Reaction EX_his__L_e at 0x7ff463526eb0>,
 <Reaction EX_leu__L_e at 0x7ff46353e4f0>,
 <Reaction EX_lys__L_e at 0x7ff46353e820>,
 <Reaction EX_pro__L_e at 0x7ff46353e040>,
 <Reaction EX_ser__L_e at 0x7ff46353efa0>,
 <Reaction EX_no3_e at 0x7ff46353ef70>,
 <Reaction EX_urea_e at 0x7ff463552a30>,
 <Reaction EX_nh4_e at 0x7ff46353ecd0>,
 <Reaction EX_akg_e at 0x7ff46353ee80>,
 <Reaction EX_mal__L_e at 0x7ff46353eeb0>,
 <Reaction EX_k_e at 0x7ff463552f70>,
 <Reaction EX_so4_e at 0x7ff463552e50>,
 <Reaction EX_pi_e at 0x7ff463566d60>,
 <Reaction EX_mobd_e at 0x7ff463566730>,
 <Reaction EX_fe3_e at 0x7ff463566cd0>,
 <Reaction EX_fe2_e at 0x7ff463566ca0>,
 <Reaction EX_na1_e at 0x7ff463566dc0>,
 <Reaction EX_mn2_e at 0x7ff46357a370>,
 <Reaction EX_mg2_e at 0x7ff46357a3d0>,
 <Reaction EX_ptrc_e at 0x7ff46357a490>,
 <Reaction EX_spmd_e at 0x7ff46357a550>,
 <Reaction EX_cu2_e at 0x7ff46357ab80>,
 <Reaction EX_zn2_e at 0x7ff46357afa0>,
 <Reaction EX_glcglyc_e at 0x7ff4635913d0>,
 <Reaction EX_sucr_e at 0x7ff4635a45b0>]

In [11]:
co2=modelexporter.reactions.get_by_id("EX_co2_e")
photon=modelexporter.reactions.get_by_id("EX_photon_e")
hco3=modelexporter.reactions.get_by_id("EX_hco3_e")

co2c=modelclean.reactions.get_by_id("EX_co2_e")
photonc=modelclean.reactions.get_by_id("EX_photon_e")
hco3c=modelclean.reactions.get_by_id("EX_hco3_e")

In [12]:
co2.bounds=(-3.7,1000.0)
hco3.bounds= (-3.7,1000.0)
photon.bounds= (-100,0)

co2c.bounds=(-3.7,1000.0)
hco3c.bounds= (-3.7,1000.0)
photonc.bounds= (-100,0)

In [14]:
#model.medium["EX_glc__D_e"]=0.0
#modelclean.medium["EX_glc__D_e"]=0.0
#model.medium["EX_hco3_e"]=0.0
#modelclean.medium["EX_hco3_e"]=0.0

medium = modelexporter.medium
medium["EX_glc__D_e"] = 0.0
medium["EX_hco3_e"] = 0.0
medium["EX_photon_e"]=50
modelexporter.medium = medium

mediumc = modelclean.medium
mediumc["EX_glc__D_e"] = 0.0
mediumc["EX_hco3_e"] = 0.0
mediumc["EX_photon_e"]=50
modelclean.medium = mediumc

In [15]:
modelexporter.medium

{'EX_photon_e': 50,
 'EX_ca2_e': 1000.0,
 'EX_cobalt2_e': 1000.0,
 'EX_ni2_e': 1000.0,
 'EX_h_e': 1000.0,
 'EX_h2o_e': 1000.0,
 'EX_o2_e': 1000.0,
 'EX_co2_e': 3.7,
 'EX_no3_e': 1000.0,
 'EX_k_e': 1000.0,
 'EX_so4_e': 1000.0,
 'EX_pi_e': 1000.0,
 'EX_mobd_e': 1000.0,
 'EX_fe3_e': 1000.0,
 'EX_fe2_e': 1000.0,
 'EX_na1_e': 1000.0,
 'EX_mn2_e': 1000.0,
 'EX_mg2_e': 1000.0,
 'EX_cu2_e': 1000.0,
 'EX_zn2_e': 1000.0}

In [16]:
modelexporter.optimize()

In [17]:
modelclean.optimize()

In [18]:
modelclean.objective= "SQLS"
modelexporter.objective="SQLS"

In [19]:
modelexporter.optimize()

In [20]:
modelclean.optimize()

In [21]:
# Add the squalene exportation with MsbA EC 7.5.2.6  
#ATP + H2O + lipid A-core oligosaccharide[side 1] = ADP + phosphate + lipid A-core oligosaccharide[side 2]
export_reaction = Reaction('EX_sql_e') # squalene export reaction
squalene_extracellular = Metabolite(id='sql_e', compartment='e') #extracellular squalene
export_reaction.add_metabolites({modelexporter.metabolites.atp_c: -1, # ATP Cytosol 
                               modelexporter.metabolites.h2o_c: -1, # H2O Cytosol
                               modelexporter.metabolites.sql_c: -1, # Squalene Cytosol
                               squalene_extracellular: 1, # Squalene extarcelular
                               modelexporter.metabolites.adp_c: 1, # ADP cytosol
                               modelexporter.metabolites.pi_c: 1, # phosphate cytosol
                              })
modelexporter.add_reactions([export_reaction])

In [22]:
modelexporter.reactions.get_by_id("EX_sql_e")

In [23]:
modelexporter.metabolites.get_by_id('sql_e')

In [24]:
modelexporter.add_boundary(modelexporter.metabolites.sql_e, type='demand')

In [25]:
with modelexporter:
    modelexporter.objective = modelexporter.reactions.EX_sql_e
    Squalene_flux = modelexporter.optimize().objective_value

In [26]:
Squalene_flux

0.12333333333333348

In [27]:
modelexporter.optimize()