In [1]:
# packages

import numpy as np
import cobra
from cobra.io import read_sbml_model
from cobra import Reaction, Metabolite, Model

In [2]:
# model input

model = read_sbml_model("iJN678.xml")
model

In [3]:
solution = model.optimize()
solution

In [4]:
model.summary()

In [5]:
model.metabolites.sql_c.summary()

In [9]:
print(model.objective)

Maximize
1.0*BIOMASS_Ec_SynHetero - 1.0*BIOMASS_Ec_SynHetero_reverse_5d8af

In [11]:
from cobra.util.solver import linear_reaction_coefficients
linear_reaction_coefficients(model)

{<Reaction SQLS at 0x1d2da4058b0>: 1.0}

In [12]:
# change the objective to squalene production

model.objective = "SQLS"   # squalene synthase
model.reactions.get_by_id("SQLS").upper_bound = 1000.
linear_reaction_coefficients(model)

{<Reaction SQLS at 0x1d2da4058b0>: 1.0}

In [13]:
model.optimize().objective_value

0.0